html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.video {
  display: flex;
  width: 640px;
  height: 360px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-color: white;
  border: 2px solid;
  font-family: Roboto;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
