.container {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
}

.input {
  text-align: center;
  border: 0px;
  background-color: #e0e0e0;
  font-size: 24px;
  border-radius: 2px;
  width: 200px;
  padding: 5px;
}

.button {
  cursor: pointer;
  background-color: #08a4ec;
  color: white;
  border: 0px;
  font-size: 24px;
  border-radius: 2px;
  padding: 5px;
}

.button:active {
  background-color: white;
  color: #08a4ec;
}
